@using  System.Security.Claims;
@model List<PostGresAppilcation.Models.ClaimViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (User.Identity.IsAuthenticated)
{
    <div style="display:flex" class="justify-content-between align-items-center mb-3">
        <h3><strong>Welcome! </strong> @User.Identity?.Name.ToUpper()</h3>
        <form asp-controller="Accounts" asp-action="Logout" method="post" style="display:flex" class="mb-2">
            <button type="submit" class="btn btn-danger" style="display:inline">Logout</button>
        </form>
    </div>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Claim Type</th>
            <th>Claim Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var claim in Model)
        {
            <tr>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }
    </tbody>
</table>